#root {
  font-family: 'Roboto', sans-serif;
  font-size: 16px; /* This is a standard font size, adjust it as needed */
  line-height: 1.5; 
  /* max-width: 1280px; */
  margin: 0 auto;
  /* padding: 2rem; */
  /* text-align: center; */
}

.pt-10 {
  padding-top: 1.5rem; /* Custom padding-top */
}

.px-10 {
  padding-left: 0.5rem; /* Adjusted padding-left */
  padding-right: 0.5rem; /* Adjusted padding-right */
}
.px-16 {
  padding-left: 1rem;
  padding-right: 1rem;
}
.text-5xl {
  font-weight: 500;
  font-size: 2rem;
  line-height: 1;
}
